/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

#comments{
  margin-top: 30px;
}
@media (min-width: 960px) {
    .VPDoc[data-v-10119189] {
        padding: 18px 32px 0;
    }
}