/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

#comments {
  margin-top: 30px;
}

.VPDoc {
  padding: 0px 32px 0 !important;
}

@media (min-width: 960px) {
  .VPDoc {
    padding: 18px 32px 0;
  }
}