# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# editor directories and files
.idea
.vscode
*.sh
# dependencies
node_modules/


# compiled output
dist/

cache/

# misc
.DS_Store

#temp files
*.txt
