.m-nav-layout {
  /* 覆盖全局的 vp-layout-max-width（仅当前页面使用） */
  // --vp-layout-max-width: 1660px;

  /* layout 样式 */
  // .container {
  //   max-width: var(--vp-layout-max-width) !important;
  // }
  .content-container,
  .content {
    max-width: 100% !important;
  }


  .VPDoc:not(.has-sidebar) .container {
    max-width: 1440px;
  }

  /* aside 样式 */
  .aside {
    padding-left: 0;
    max-width: 224px;
  }

  .aside-container {
    z-index: 11;
  }



  /* custom-block */
  .custom-block {
    .custom-block-title {
      font-size: var(--vp-custom-block-font-size);
    }

    ul {
      margin: 8px 0;
    }

    li {
      margin: 0;
    }
  }

  .vp-doc h2 {
    margin-top: 24px;
  }

  .VPFooter {
    // 移除页脚上面横线
    border-top: none;
  }
}